@bg: #0c1217;

@pink: #F13288;
@turquoise: #7CFFF4;
@orange: #FFC032;
@green: #4CAF50;
@darkBlue: #536D98;
@blue: #38C5F1;
@red: #EE5740;
@blueGray: #323D54;
@yellow: #FFFFA7;

@verySmallFontSize: 12px;
@smallFontSize: 14px;
@mediumFontSize: 18px;
@largeFontSize: 22px;

@font-face {
	font-family: 'Lato-Light';
	src: url('Lato-Light.ttf');
}

@font-face {
	font-family: 'Lato-Hairline';
	src: url('Lato-Hairline.ttf');
}

* {
  margin: 0;
  padding: 0;
}

.fullscreen {
  height: 100%;
  width: 100%;
  background-color: @bg;
}

html {
  &:extend(.fullscreen);
}

body {
  &:extend(.fullscreen);
  font-family: "Lato-Light", "Sans-Serif";
}

ul {
  list-style-type: none;
}

#reactContainer {
  &:extend(.fullscreen);
}

#content {
  &:extend(.fullscreen);
}

#toolbar h1 {
  float: left;
  margin: 20px 0 0 25px;
  color: @orange;
  font-family: "Lato-Hairline";
  font-size: @largeFontSize;
  font-weight: normal;
}

#toolbar ul {
  float: right;
}

#toolbar a {
  display: block;
  padding: 27px 0 30px 20px;
  color: #fff;
  font-size: @smallFontSize;
  text-decoration: none;
}

#toolbar ul li {
  width: 130px;
  display: inline-block;
  z-index: 100000;
  transition: background-color 0.3s ease;
}

#toolbar ul li:hover {
  background-color: @blueGray;
}

#toolbar ul li ul {
  position: absolute;
  display: none;
}

#toolbar ul li ul li {
  position: relative;
  display: block;
  background-color: @blueGray;
}

#toolbar ul li ul li:hover {
  background-color: @darkBlue;
}

#specificationBox {
  position: absolute;
  top: 75px;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-width : 320px) {
  #specificationBox {
    top: 200px;
  }

  #toolbar ul {
    float: left;
  }
}

@media only screen and (min-width : 535px) {
  #specificationBox {
    top: 125px;
  }
}

@media only screen and (min-width : 974px) {
  #specificationBox {
    top: 75px;
  }

  #toolbar ul {
    float: right;
  }
}

#editor {
  height: 100%;
  width: 72%;
}

#sidebar {
  height: 100%;
  width: 28%;
  padding: 0 25px;
  float: left;
  box-sizing: border-box;
}

#sidebar h2 {
  margin: 10px 0;
  color: @blue;
  font-size: @smallFontSize;
  font-weight: normal;
}

#sidebar p {
  margin: 15px 0;
  color: #fff;
  font-size: @smallFontSize;
}

#sidebar p mark {
  color: @orange;
  background-color: transparent;
}

#sidebar p a {
  color: @green;
}

#sidebar p a:hover {
  color: @pink;
}

#executionEditor {
  height: 14px;
  width: 100%;
}

#actionHelperForm {
  margin: 0 0 0 25px;
  padding: 8px;
  display: none;
  background-color: @blueGray;
  color: #fff;
}

#actionHelperLink {
  margin: 10px 0;
  display: block;
  text-align: right;
  font-size: @verySmallFontSize;
  color: #fff;
  text-decoration: none;
}

#actionHelperLink:hover {
  color: @turquoise;
}

.actionHelperFormBlock {
  margin: 0 0 10px 0;
}

.actionHelperFormBlock label {
  width: 50%;
  padding: 0 25px 0 0;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.actionHelperFormInput {
  width: 50%;
  margin: 0 0 5px 0;
  display: inline-block;
  vertical-align: top;
}

#actionHelperFormSubmit {
	margin: 0 0 0 50%;
	padding: 4px;
}

.latestData {
  margin: 0 0 0 25px;
  padding: 8px;
  color: @bg;
  font-size: @mediumFontSize !important;
}

.latestDataSuccess {
  &:extend(.latestData);
  background-color: @green;
}

.latestDataFailure {
  &:extend(.latestData);
  background-color: @red;
}

.dataItemContainer {
  margin: 10px 0;
}

.dataItemButton {
  margin: 0 0 0 25px;
  color: #fff;
  font-size: @smallFontSize;
  text-decoration: none;
  transition: color 0.3s ease;
}

.dataItemButton:hover {
  color: @turquoise;
}

.dataItemContent {
  margin: 0 0 0 25px;
  width: 50%;
  padding: 8px;
  display: none;
  color: #fff;
  background-color: @darkBlue;
}

.dataItemContent p {
  font-size: @mediumFontSize !important;
}
