* {
  margin: 0;
  padding: 0;
}

.fullscreen {
  height: 100%;
  width: 100%;
}

html {
  &:extend(.fullscreen);
}

body {
  &:extend(.fullscreen);
}

#content {
  &:extend(.fullscreen);
}

#specificationBox {
  &:extend(.fullscreen);
}

#toolbar {
  background-color: blue;
}

#toolbar ul li {
  display: inline-block;
  padding: 12px 7px;
  z-index: 100000;
  background-color: grey;
}

#toolbar ul li ul {
  position: absolute;
  display: none;
}

#toolbar ul li ul li {
  position: relative;
  display: block;
}

#editor {
  height: 100%;
  width: 55%;
}

#executionBox {
  height: 100%;
  width: 45%;
  float: right;
  background-color: red;
}

.dataItemContent {
  display: none;
}

#executionEditor {
  height: 14px;
  width: 100%;
}
